* {
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(54deg,black,crimson);
    height: 100vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.butao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 2px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.butao:hover {
    background-color: black;    
}

#resultado{
    width: 207px;
    background-color: white;
    margin: 5px;
    height: 30px;
    color: black;
    font-size: 25px;
    text-align: right;
    padding: 5px;
} 